In [91]:
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine
from pandas import Timestamp
import logging

In [92]:
logging.basicConfig(level = logging.INFO, format = '%(asctime)s - %(name)s - %(levelname)s - %(message)s')
logger = logging.getLogger("入库测试")

In [68]:
engine = create_engine("mysql+pymysql://root:Wfn031641@47.92.25.70:3306/cxd_data?charset=utf8")

In [72]:
df_key = pd.read_excel("./20180601/output/out_price_MTBE_key.xls")
df_value = pd.read_excel("./20180601/output/out_price_MTBE_value.xls")

In [69]:
COLS_KEY = ["id", "region", "factory", "name", "type", "province_id", "r_id", "source_id", "factory_type"]
COLS_VALUE = ["id", "date", "price", "unit", "ref_key_id", "duration"]

In [73]:
sr_key_idx = random.randint(0, len(df_key))
sr_value_idx = random.randint(0, len(df_value))

In [74]:
sr_key = df_key.iloc[sr_key_idx]
sr_value = df_value.iloc[sr_value_idx]

In [77]:
def translate_key(v):
    if v is np.NaN:
        return ""
    elif isinstance(v, np.float64):
        return float(v)
    elif isinstance(v, np.int64):
        return int(v)
    else:
        return v

In [78]:
def upsert_key(sr):
    lst_col = COLS_KEY.copy()
    lst_val = ["%s"] * len(lst_col)
    lst_upd = ["{0}=%s".format(col) for col in lst_col]
    sql = "insert into out_price_factory_key ({0}) values ({1}) on duplicate key update {2}"\
        .format(",".join(lst_col), ",".join(lst_val), ",".join(lst_upd))
    par = sr[lst_col].map(translate_key).tolist() * 2

    conn = ENGINE.raw_connection()
    cur = conn.cursor()
    try:
        cur.execute(sql, par)
        conn.commit()
    except pymysql.Error as ex:
        logger.error("upsert_key(), MySql Error: %s" % ex)
    except Exception as ex:
        logger.error("upsert_key(), Other Error: %s" % ex)
    finally:
        cur.close()

In [87]:
def translate_value(v):
    if v is np.NaN:
        return None
    elif isinstance(v, Timestamp):
        return v.strftime("%Y-%m-%d")
    elif isinstance(v, np.float64):
        return float(v)
    elif isinstance(v, np.int64):
        return int(v)
    else:
        return v

In [88]:
def upsert_value(sr):
    lst_col = COLS_VALUE.copy()
    lst_val = ["%s"] * len(lst_col)
    lst_upd = ["{0}=%s".format(col) for col in lst_col]
    
    sql = "insert into out_price_factory_value ({0}) values ({1}) on duplicate key update {2}"\
            .format(",".join(lst_col), ",".join(lst_val), ",".join(lst_upd))
    par = sr[lst_col].map(translate_value).tolist() * 2
    
    conn = engine.raw_connection()
    cur = conn.cursor()
    try:
        cur.execute(sql, par)
        conn.commit()
    except Exception as ex:
        print(ex)
    finally:
        cur.close()
        conn.close()

In [81]:
upsert_key(sr_key)

In [89]:
upsert_value(sr_value)